
\.classpath

\.project

\.settings/org\.eclipse\.core\.resources\.prefs

\.settings/org\.eclipse\.jdt\.core\.prefs

\.settings/

target/classes/application\.properties

target/classes/META-INF/MANIFEST\.MF

target/classes/META-INF/maven/com\.anu/spring-integration/pom\.properties

target/classes/META-INF/maven/com\.anu/spring-integration/pom\.xml

*.class
